@import "/src/assets/scss/variables";
.adjust-left {
    margin-left: 23px;
}

.special-name {
    background: $application-base-color;
    span {
        &.shortname {
            background: $whight-colour;
            padding: 7px;
            display: inline-block;
            border-radius: 5px;
            color: $application-base-color;
            font-weight: bold;
            margin: 10px;
        }
    }
}
