<!-- <div *ngIf="showDashboard; else elseBlock">
  <div class="bg-box">
    <div class="d-table">
        <div class="d-table-cell total-holder" *ngFor="let item of numInfo">
            <span class="description">
            {{ item.details }}
            </span>
            <span class="number">
            {{ item.number }}
            </span>
        </div>
    </div>
</div>

<div class="row mt-3 head-boxes">
    <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
        <div class="inner-box">
            <h3>{{ 'cars-in-storage' | translate }}
                <app-svg-icon icon="icon-settings-icon" class="icon"></app-svg-icon>
            </h3>
            <div class="filler">
              <ngx-charts-advanced-pie-chart
              [tooltipDisabled]="true"
              [customColors]="barChartcustomColors" [view]="[700,200]" [results]="single" [gradient]="gradient" (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
              </ngx-charts-advanced-pie-chart>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="inner-box">
            <h3>{{ 'graph_1' | translate }}
                <app-svg-icon icon="icon-settings-icon" class="icon"></app-svg-icon>
            </h3>
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [type]="barChartType"></canvas>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="inner-box">
            <h3>{{ 'graph_2' | translate }}
                <app-svg-icon icon="icon-settings-icon" class="icon"></app-svg-icon>
            </h3>
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [type]="barChartType"></canvas>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="show-notice mb-3">
  <h3 class="title">Dashboard Coming Soon!</h3>
</div>
<div class="row head-boxes">
    <div class="col-lg-5 col-md-12 mb-3">
        <div class="inner-box">
            <h3>{{ 'my_flag' | translate }}</h3>
            <div class="table-container responsive-table">
                <div class="table-height-container normal-lined-table small-heading-table headtableone header-no-padding">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="flag">
                            <th mat-header-cell scope="col" *matHeaderCellDef> </th>
                            <td aria-label="flag" mat-cell *matCellDef="let element" class="col-img-acquire-all-space">
                                <app-svg-icon [icon]="element.icon" class="icon"></app-svg-icon>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Description" class="make-gold">
                            <th mat-header-cell scope="col" *matHeaderCellDef> {{'common.description' | translate}} </th>
                            <td [attr.aria-label]="'common.description' | translate" mat-cell *matCellDef="let element"> {{element.vendor}} </td>
                        </ng-container>
                        <ng-container matColumnDef="last_run">
                            <th mat-header-cell scope="col" *matHeaderCellDef> {{'last-run' | translate}} </th>
                            <td [attr.aria-label]="'last-run' | translate" mat-cell *matCellDef="let element"> {{element.location}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div class="view-more text-center py-2">
                     <span class="link">{{'common.view-more' | translate}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-7 col-md-12 mb-3">
        <div class="inner-box">
            <h3>{{ 'saved_search' | translate }}</h3>
            <div class="table-container responsive-table">
                <div class="table-height-container normal-lined-table small-heading-table headtabletwo header-no-padding">
                    <table mat-table [dataSource]="dataSourceDetails">
                        <ng-container matColumnDef="Name" class="make-gold">
                            <th mat-header-cell scope="col" *matHeaderCellDef> {{'dashboard.search_name' | translate}} </th>
                            <td mat-cell [attr.aria-label]="'dashboard.search_name' | translate" *matCellDef="let element"> <a class="link" (click)="onSavedSearchClick(element)">{{element.Name}} </a>  </td>
                        </ng-container>
                        <ng-container matColumnDef="LastRun">
                            <th mat-header-cell scope="col" *matHeaderCellDef> {{'dashboard.last_run' | translate}} </th>
                            <td mat-cell [attr.aria-label]="'dashboard.last_run' | translate" *matCellDef="let element"> {{element.LastRun  | date:'shortDate'}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsDetails; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsDetails;"></tr>
                    </table>
                    <div class="view-more text-center py-2">
                      <span class="link" routerLink="/dashboard/search">{{'common.view-more' | translate}}</span>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<ng-template #elseBlock>
  <div class="dashboard-look">
    <div class="row">
      <div class="col-lg-4">
        <img src="../../assets/images/white-logo.png" />
      </div>
      <div class="col-lg-8 d-table">
        <div class="d-table-cell align-middle">
          <h2>Railcar Storage Made Simple</h2>
        </div>
      </div>
      <div class="col-lg-4">

      </div>
      <div class="col-lg-8">
        <p class="custom-font"><strong>Railcar Lounge</strong> is a railcar management program that enables you to plan, execute, book storage facilities and track the railcars on a single platform.
          The first of its kind, our cloud-based product help vendors and customers implementing and executing railcar and storage facility plans. </p>
      </div>
    </div>
  </div>
</ng-template>

 -->


 <app-loan-search></app-loan-search>
