@import "/src/assets/scss/variables";
mat-table {
    th {
        background-color: $light-text-colour;
        border-color: rgba(0, 0, 0, 0);
    }
    td {
        border-color: #f4f8fd;
    }
}
.dashboard-look {
  width: 100%;
  min-height: 82vh;
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 50px;
  img {
    max-width: 100%;
  }
  h2 {
    font-size: 58px;
    color: $whight-colour;
    line-height: 60px;
    text-shadow: 3px 3px 3px #222;
  }
  p {
    &.custom-font {
      font-size: 20px;
      line-height: 25px;
    }
  }
}
.filler, canvas {
  filter: blur(1px);
  pointer-events: none;
}
.head-boxes {
  .table-height-container {
    table {
      filter: blur(1px);
      pointer-events: none;
      td {
        pointer-events: none;
      }
    }
  }
}
.view-more {
  &.text-center {
    display: none;
  }
}
.show-notice {
  width: 100%;
  text-align: center;
  .title {
    font-size: 30px;
    text-shadow: 0 0 10px #000000;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
  }
}
