<div *ngIf="!isSearchEnable" class="white-bg-box">
  <form [formGroup]="searchFormGroup" class="row">
    <div class="col-lg-4 col-md-4 mb-2">
      <div class="form-group">
        <label for="NameYourSearch" class="required">{{'common.name-your-search' | translate}}</label>
        <input placeholder="{{'common.enter-a-unique-name-for-your-search' | translate}}" type="text"
        formControlName="NameYourSearch"
          class="form-control" [ngClass]="{
            'is-invalid':
            isSavedSearchSubmit && onSavedSearchForm['NameYourSearch'].errors
          }" />
        <div class="invalid-feedback">
          <div *ngIf="
              (searchFormGroup.get('NameYourSearch')?.hasError('required') &&
              searchFormGroup.get('NameYourSearch')?.touched) ||
              (isSavedSearchSubmit && onSavedSearchForm['NameYourSearch'].errors)
            ">
            {{'common.name-your-search' | translate}} {{ "common.is_required" | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 mb-2">
      <div class="form-group">
        <label for="ExpiryDate"  class="required">{{'rider.expiration-date' | translate}}</label>
                <span class="date-holder">
          <input placeholder="{{'common.date-placeholder'| translate}}" #input3 type="text"
           class="form-control"
           formControlName="ExpiryDate"
            [matDatepicker]="picker3"
            (focus)="picker3.open()"
            [ngClass]="{
              'is-invalid':
              isSavedSearchSubmit && onSavedSearchForm['ExpiryDate'].errors
            }">
          <mat-datepicker-toggle matSuffix [for]="picker3">
            <app-svg-icon icon="icon-calendar" class="icon"
            matDatepickerToggleIcon></app-svg-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker3 (closed)="input3.blur()"></mat-datepicker>
        </span>
        <div class="invalid-feedback">
          <div *ngIf="
              (searchFormGroup.get('ExpiryDate')?.hasError('required') &&
              searchFormGroup.get('ExpiryDate')?.touched) ||
              (isSavedSearchSubmit && onSavedSearchForm['ExpiryDate'].errors)
            ">
            {{'rider.expiration-date' | translate}} {{ "common.is_required" | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-4 mb-2">
      <div class="float-end mt-4">
        <button class="secondary-btn mr-2" type="button" (click)="onBackToSearch()"  mat-raised-button>{{'common.back-to-search' | translate}}</button>
        <button type="button" color="primary" (click)="onRailCarSavedSearchClick()"  mat-raised-button>{{'common.save-search' | translate}}</button>
      </div>
    </div>
  </form>
</div>
