<div class="min-max-width-550">
<div class="header">
  <h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{ data.title }}</h1>
  <button class="icon" (click)="cancel()" title="Close">x</button>
</div>
<div mat-dialog-content class="dilogue-height-120">
  <p class="dialog-message">{{ data.message }}</p>
</div>
  <div class="float-end" *ngIf="!data.reverseBtn">
    <button class="mr-2 secondary-btn" (click)="cancel()" mat-raised-button>{{ data.cancelText }}</button>
    <button type="button" mat-raised-button color="primary" (click)="confirm()">{{ data.confirmText }}</button>
  </div>
  <div class="float-end" *ngIf="data.reverseBtn">
    <button type="button" class="secondary-btn mr-2" mat-raised-button  (click)="confirm()">{{ data.confirmText }}</button>
    <button color="primary" (click)="cancel()" mat-raised-button>{{ data.cancelText }}</button>
  </div>
</div>
