/* You can add global styles to this file, and also import other style files */

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@marcreichel/angular-carousel/css/main.css';
@import '~@marcreichel/angular-carousel/themes/stripes.css';
@import '~ngx-toastr/toastr';

@mixin mat-table-columns($columns) {
  .mat-column- {
    @each $colName,
    $props in $columns {
      $width: map-get($props, 'width');

      &#{$colName} {
        flex: $width;
        width: $width;
        min-width: $width;
        max-width: $width;
        word-break: break-word;
        @if map-has-key($props, 'color') {
          color: map-get($props, 'color');
        }
      }
    }
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.headtableone {
  @include mat-table-columns((flag: (width: 10%),
  Description: (width: 60%),
  last_run: (width: 30%)));
}

.headtabletwo {
  @include mat-table-columns((Name: (width: 70%),
  LastRun: (width: 30%)));
}

.booknow-table {
  @include mat-table-columns((LandE: (width: 15%),
  action: (width: 15%),
  Commodity: (width: 15%),
  Hazmat: (width: 10%),
  CarType: (width: 15%),
  RailCarId: (width: 15%),
  NumberOfSpaces: (width: 20%)
  ));
}

.attachments-holder {
  @include mat-table-columns((Name: (width: 60%),
  CreatedTime: (width: 30%),
  action: (width: 10%)
  ));
}

.reserved-spaces-table {
  @include mat-table-columns((ReservedSpaces: (width: 28%),
  EffectiveDate: (width: 28%),
  ExpirationDate: (width: 28%),
  action: (width: 16%)
  ));
}

.search-details {
  @include mat-table-columns((select: (width: 1rem),
  Name: (width: 53rem), LastRun: (width: 15rem)));
}

.rail-car {
  @include mat-table-columns((position: (width: 10%),
  vendor: (width: 20%),
  location: (width: 20%),
  contracted_spaces: (width: 15%),
  cars_on_hand: (width: 15%),
  action: (width: 20%)));
}

.vendors-table {
  @include mat-table-columns((action: (width: 3%),
  Vendor: (width: 8%),
  Facility: (width: 8%),
  location: (width: 13%),
  Interchanges: (width: 8%),
  ContractedSpace: (width: 8%),
  CarsStored: (width: 8%),
  TotalAmount: (width: 8%),
  avg_monthly_cost: (width: 8%),
  avg_par_car_cost: (width: 8%)));

  mat-table {
    td {
      height: 60px;
    }
  }
}


.vendor-inner {
  table-layout: fixed;
  @include mat-table-columns((selects: (width: 11%),
      Facility: (width: 8%),
      Location: (width: 13%),
      Interchanges: (width: 8%),
      ConstantSpace: (width: 8%),
      CarsStored: (width: 8%),
      TotalAmount: (width: 8%),
      AVGMonthlyCost: (width: 8%),
      AVGCarCost: (width: 8%)));
}

.ridertable {
  @include mat-table-columns((select: (width: 3%),
  Rider: (width: 14%),
  VendorName: (width: 14%),
  StorageFacilityName: (width: 15%),
  EffectiveDate: (width: 8%),
  ExpiryDate: (width: 8%),
  TotalCars: (width: 14%),
  Hazmat: (width: 8%),
  SwitchIn: (width: 7%),
  SwitchOut: (width: 9%)));
}

.users-table {
  @include mat-table-columns((select: (width: 5%),
  FirstName: (width: 10%),
  LastName: (width: 10%),
  CompanyName: (width: 10%),
  CompanyEmail: (width: 10%),
  Title: (width: 10%),
  ContactNumber: (width: 13%),
  Organization : (width: 15%),
  UserType: (width: 10%),
  Status: (width: 8%)));
}

.customer-table {
  @include mat-table-columns((Customer: (width: 30%),
  Location: (width: 30%),
  PrimaryContact: (width: 20%),
  PrimaryEmail: (width: 20%)));
}

.attachments-table {
  @include mat-table-columns((FileName: (width: 60%),
  DateAndTime: (width: 20%),
  User: (width: 20%)));
}
.history-table {
  @include mat-table-columns((Action: (width: 30%),
  Description: (width: 30%),
  DateAndTime: (width: 20%),
  User: (width: 20%)));
}
.notes-table {
  @include mat-table-columns((Description: (width: 60%),
  DateAndTime: (width: 20%),
  User: (width: 20%)));
}
.railcar-details-table {
  overflow: auto;
  @include mat-table-columns((select: (width: 3%),
  StorageOrder: (width: 12%),
  CarId: (width: 8%),
  CarTypeName: (width: 9%),
  LEName: (width: 8%),
  LEContents: (width: 8%),
  BolDate: (width: 8%),
  ArrivalDate: (width: 10%),
  DepartureDate: (width: 12%),
  Fleet: (width: 6%),
  Details: (width: 6%),
  Notes: (width: 10%)));
}


/* Importing Bootstrap SCSS file. */

@import "~bootstrap/scss/bootstrap";

.height35 {
  height: 35px !important;
}

.ml15 {
  margin-left: 15px;
}
table, mat-table {
  th {
    &.mat-header-cell {
      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}
