.loader-bg{
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1001;
}

.loading {
    background: #FFF;
    position: absolute;
    z-index: 1001;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.mat-spinner
{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
