$base-color: #1a335f;
$application-base-color: #1a335f;
$header-colour: #486c9b;
$calander-background: #6283ac;
$navigation-colour: #5879a2;
$appliaction-secondary-btn-colour: #539aa0;
$application-border-dark: rgba($application-base-color, 0.88);
$application-border-light: #ededed;
$application-background: #ecf1f9;
$application-gray-colour: #cccccc;
$appliaction-label-colour: rgba($application-base-color, 0.90);
$application-disabled-colour: #d7d7d7;
$light-text-colour: #dae7f8;
$whight-colour: #ffffff;
$application-light-background: #fafafa;
// $header-colour: #f64e00;
// $calander-background: #f64e00;
// $navigation-colour: #fba874;
// $application-base-color: #f64e00;
// $appliaction-secondary-btn-colour: #f58743;

