<form class="d-inline " [formGroup]="globalSearchForm" data-item="globalSearch" id="im-global-search-parent">
    <!-- Global search input -->
    <div impClickDetector data-item="globalSearch" class="im-search-section">
        <input type="text" autocomplete="off" name="globalSearch" formControlName="globalSearch" #imSearchBar id="im-search-bar" class="im-primary-gradient im-search-bar" (blur)="closeSearch($event)" [attr.placeholder]=" 'common.search' | translate" [attr.aria-label]="'common.search' | translate"
            data-item="globalSearch" (click)="openSearch(globalSearchForm.get('globalSearch')?.value)">
        <a href="" class="im-clear-text" tabindex="0" (click)="clearText();setFocuses()" data-item="globalSearch" role="button" [attr.aria-label]="'label.clear' | translate" *ngIf="inputHasValue" impPreventDefaultDirective>
            <i class="fa fa-close" data-item="globalSearch" aria-hidden="true"></i>
        </a>
        <button type="button" [disabled]="!inputHasValue" class="btn im-btn-submit im-btn-global-search" (click)="onGlobalSearch(globalSearchForm.get('globalSearch')?.value)" data-item="globalSearch">{{'common.search'|translate}}</button>
        <div data-item="globalSearch" class="im-globalSearch-holder-section">
            <!-- <div *ngIf="isSearch && globalList.length === 0" class="im-search-item" data-item="globalSearch"> -->
            <span *ngIf="isSearch && globalList.length === 0" class="im-no-record-wrapper" data-item="globalSearch">{{
              'label.noRecords' | translate }} </span>
            <!-- </div> -->
            <ul class="im-globalSearch-holder" data-item="globalSearch" role="list" *ngIf="isSearch">
                <li class="im-search-headerItem" data-item="globalSearch" role="listitem" tabindex="-1">
                    <div class="container-fluid" data-item="globalSearch">
                        <div class="row" data-item="globalSearch">
                            <div class="col-auto" data-item="globalSearch">
                                <span class="im-search-header" data-item="globalSearch">
                                  <input type="checkbox" name="navigation" [checked]="false"
                                      formControlName="navigation" (click)="filterSearchResults($event)"
                                      data-type="checkbox" data-item="globalSearch"
                                      [attr.aria-label]="'label.navigation' | translate"
                                      impGlobalSearchListDirective />
                                  {{'label.navigation'|translate}}
                              </span>
                            </div>
                            <div class="col-auto" data-item="globalSearch">
                                <span class="im-search-header" data-item="globalSearch">
                                  <input type="checkbox" name="page" [checked]="false" formControlName="page"
                                      (click)="filterSearchResults($event)" data-type="checkbox"
                                      item-name="last-checkbox" data-item="globalSearch"
                                      [attr.aria-label]="'label.page' | translate" impGlobalSearchListDirective />
                                  {{'label.page'|translate}}
                              </span>
                            </div>
                        </div>
                    </div>
                </li>
                <div *ngIf="globalList && globalList.length" data-item="globalSearch">
                    <li class="im-search-item im-search-item-kn" *ngFor="let item of globalList;let i = index" data-item="globalSearch" role="listitem" impGlobalSearchListDirective (selectItem)="checkIfCallPause(item)" tabindex="-1" data-type="list">
                        <a class="d-block" href="" impPreventDefaultDirective data-item="globalSearch" (click)="checkIfCallPause(item)" [attr.aria-label]="item" role="navigation" tabindex="-1">
                            <div class="container-fluid" data-item="globalSearch" *ngIf="isSearch && globalList.length !== 0">
                                <div class="row" data-item="globalSearch">
                                    <div class="col-auto pr-0" data-item="globalSearch">
                                        <!-- <img *ngIf="item.type === 'page'" class="im-search-type im-search-type-page" data-item="globalSearch" src="assets/images/page_icon.svg" alt="page type" title="page type" aria-hidden="true">
                                        <img *ngIf="item.type === 'navigation'" class="im-search-type im-search-type-navigation" data-item="globalSearch" src="assets/images/navigation_icon.svg" alt="navigation type" title="navigation type" aria-hidden="true"> -->
                                        {{item | json}}
                                    </div>
                                    <div class="col" data-item="globalSearch">
                                        <!-- <span class="d-block im-label-form" data-item="globalSearch">{{item.description.split(' > ')[1]}}</span> -->
                                        <span class="im-inner-link">{{item | json}}</span>
                                        <!-- <span class="im-search-area" data-item="globalSearch">{{item.type}}</span> -->
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</form>