<div class="pin" (click)="onFixSidebar()">
    <mat-icon *ngIf="!isPinned">gps_not_fixed</mat-icon>
    <mat-icon *ngIf="isPinned">gps_fixed</mat-icon>
</div>
<ul class="navigation mt-4">
    <li *ngFor="let item of navItems" class="mb-2">
        <ng-container *ngIf="item.disabled">
            <a [ngClass]="{'active': item.route ? router.isActive(item.route, true): false}" class="menu-list-item" [routerLink]="item.route">
                <!-- <mat-icon>{{ item.iconName }}</mat-icon> -->
                <app-svg-icon icon="{{ item.iconName }}" class="icon"></app-svg-icon>
                <span>{{ item.displayName }}</span>
            </a>
        </ng-container>
      
        <ul *ngIf="item.children" class="sub-nav">
            <li *ngFor="let children of item.children">
            <ng-container *ngIf="children.disabled">
                <a [ngClass]="{'active': children.route ? router.isActive(children.route, true): false}" class="menu-list-item" [routerLink]="children.route">
                    <span>{{ children.displayName }}</span>
                </a>
            </ng-container>              
            </li>
        </ul>
    </li>
</ul>