<!-- <ul class="opened-menus" *ngIf="navItems">
    <li *ngFor="let item of navItems" class="mb-2" [ngClass]="{'active-menu': item.url ? router.isActive(item.url, true): false}">
        <a [ngClass]="{'active': item.url ? router.isActive(item.url, true): false}" class="menu-list-item" [routerLink]="item.url">
            {{ item.title }}
          </a>
        <mat-icon *ngIf="navItems.length > 1" (click)="removeMenu(item)">close</mat-icon>
    </li>
</ul> -->

<!-- <ul class="opened-menus scrolled-menu" *ngIf="menuItems">
    <li *ngFor="let item of menuItems" class="mb-2" [ngClass]="{'active-menu': item.url ? router.isActive(item.url, true): false}">
        <a [ngClass]="{'active': item.url ? router.isActive(item.url, true): false}" class="menu-list-item" [routerLink]="item.url">
          {{ item.title }}
        </a>
        <mat-icon *ngIf="menuItems.length > 1" (click)="removeMenu(item)">close</mat-icon>
    </li>
</ul> -->

<nav class="tabbed-menu mb-3 d-none">
    <div class="">
        <ul class="opened-menus" role="menubar">
            <li tabindex="0" *ngFor="let eachMenu of menuItems ; let i = index" #vcMenuItems role="none" [ngClass]="{'active-menu': eachMenu.url ? router.isActive(eachMenu.url, true): false}" (click)="onMenuClick(eachMenu, i)" (keyup.enter)="onMenuClick(eachMenu, i)">
                <a role="menuitem" [ngClass]="{'active': eachMenu.url ? router.isActive(eachMenu.url, true): false}" [routerLink]="eachMenu.url">{{eachMenu.title}}
          </a>
                <app-svg-icon icon="icon-end-close-cross" class="icon" *ngIf="menuItems.length > 1 && eachMenu.url !== '/dashboard'" (click)="removeMenu(eachMenu)"></app-svg-icon>
            </li>
        </ul>
        <div class="dropdown-container">
            <div *ngIf="ddlMenu?.length > 0" class="dropdown-btn" (click)="onDDLClick()" (keyup.enter)="onDDLClick()" [ngClass]="showDDLPopUp ? 'show' : ''">
                <span class="nav-link dropdown-toggle no-border" tabindex="0" role="button"><span>{{ddlMenu.length}}</span> More
                </span>
                <div *ngIf="showDDLPopUp" class="popup-container">
                    <div class="cust-pop-col" *ngFor="let eachSubMenuList of ddlSubmenu">
                        <ul aria-label="menu popup" class="dropdown-popup">
                            <li role="none" *ngFor="let menu of eachSubMenuList" [ngClass]="{'active-menu': menu.url ? router.isActive(menu.url, true): false}" (click)="onMenuClick(menu,-1,true)" (keyup.enter)="onMenuClick(menu,-1,true)">
                                <a role="menuitem" [ngClass]="{'active': menu.url ? router.isActive(menu.url, true): false}" [routerLink]="menu.url">{{menu?.title}}
                            </a>
                                <app-svg-icon icon="icon-end-close-cross" class="icon" *ngIf="eachSubMenuList.length > 1" (click)="removeMenu(menu)"></app-svg-icon>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</nav>
