<div class="max-width-500">
<div class="header">
  <h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{ data.title }}</h1>
  <button class="icon" mat-dialog-close title="Close">x</button>
</div>
<div mat-dialog-content>
  <div class="row" [formGroup]="changePasswordForm">
    <div class="col-md-6">
      <div class="form-group">
          <label for="CurrentPassword" class="required">{{'current-password' | translate}}</label>
          <input autocomplete="new-password" maxlength="20" type="password" placeholder="{{'customer-password' | translate}}" formControlName="CurrentPassword" class="form-control" [ngClass]="{ 'is-invalid': submittedChangePwd && change['CurrentPassword'].errors }" />
          <div class="invalid-feedback">
              <div *ngIf="changePasswordForm.get('CurrentPassword')?.hasError('required') && changePasswordForm.get('CurrentPassword')?.touched || submittedChangePwd && change['CurrentPassword'].errors">Current Password {{'common.is_required' | translate}}</div>
              <div *ngIf="changePasswordForm.get('ConfirmPassword')?.hasError('minlength') && changePasswordForm.get('ConfirmPassword')?.touched || submittedChangePwd && change['ConfirmPassword'].errors && changePasswordForm.get('ConfirmPassword')?.value">{{'password_must_be_at_least_8_characters' | translate}}</div>
          </div>
      </div>
  </div>
    <div class="col-md-6">
      <div class="form-group">
          <label for="Password" class="required d-block">{{'new-password' | translate}} <span matTooltipClass="info-tooltip" class="d-inline-block max-25 cursor-pointer float-end" matTooltip="{{ 'password-info' | translate}}"><mat-icon>info_outline</mat-icon></span></label>
          <input autocomplete="new-password" type="password"  maxlength="20" placeholder="{{'customer-password' | translate}}" formControlName="NewPassword" class="form-control" [ngClass]="{ 'is-invalid': submittedChangePwd && change['NewPassword'].errors }" />
          <div class="invalid-feedback">
              <div *ngIf="changePasswordForm.get('NewPassword')?.hasError('required') && changePasswordForm.get('NewPassword')?.touched || submittedChangePwd && change['NewPassword'].errors">{{'new-password' | translate}} {{'common.is_required' | translate}}</div>
              <div *ngIf="changePasswordForm.get('NewPassword')?.hasError('minlength') && changePasswordForm.get('NewPassword')?.touched || submittedChangePwd && change['NewPassword'].errors && changePasswordForm.get('NewPassword')?.value">{{'password_must_be_at_least_8_characters' | translate}}</div>
              <div *ngIf="changePasswordForm.get('NewPassword')?.hasError('pattern') && changePasswordForm.get('NewPassword')?.touched || submittedChangePwd && change['NewPassword'].errors && changePasswordForm.get('NewPassword')?.value">{{'password-info' | translate}}</div>
          </div>
      </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
        <label for="ConfirmPassword" class="required d-block">{{'confirm-password' | translate}} <span matTooltipClass="info-tooltip" class="d-inline-block max-25 cursor-pointer float-end" matTooltip="{{ 'password-info' | translate}}"><mat-icon>info_outline</mat-icon></span></label>
        <input maxlength="20" autocomplete="new-password" type="password" placeholder="{{'customer-password' | translate}}" formControlName="ConfirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submittedChangePwd && change['ConfirmPassword'].errors || changePasswordForm.hasError('isFieldEqual') }" />
        <div class="invalid-feedback">
            <div *ngIf="changePasswordForm.get('ConfirmPassword')?.hasError('required') && changePasswordForm.get('ConfirmPassword')?.touched || submittedChangePwd && change['ConfirmPassword'].errors">{{'confirm-password' | translate}} {{'common.is_required' | translate}}</div>
            <div *ngIf="changePasswordForm.hasError('isFieldEqual')">
              {{'error.passwordFieldsMatchIssue' | translate}}
            </div>
            <div *ngIf="changePasswordForm.get('ConfirmPassword')?.hasError('minlength') && changePasswordForm.get('ConfirmPassword')?.touched || submittedChangePwd && change['ConfirmPassword'].errors && changePasswordForm.get('ConfirmPassword')?.value">{{'password_must_be_at_least_8_characters' | translate}}</div>
        </div>
    </div>
</div>
  <div class="col-md-6 mt-4">
    <div class="float-end">
      <button  type="submit" (click)="onSubmitChangePassword()" mat-raised-button color="primary">{{'common.update' | translate}}</button>
    </div>
    <div class="clearfix"></div>
  </div>
  </div>
</div>
</div>
