.login-center {
    .terms-conditions {
        color: #555555;
        margin: 10px 0;
        a {
           // color: #143260;
            font-weight: bolder;
        }
    }
}
::ng-deep {
  .mat-tab-body-content {
    overflow: hidden !important;
  }
}

h3 {
  font-size: 22px;
  color: #1a335f;
  min-height: 48px;
  line-height: 48px;
}
