h3 {
    &.head-title {
        .simple-button {
            float: right;
            font-size: 13px;
            padding: 3px 3px;
            height: 23px;
            line-height: 18px;
            margin: 2px 3px;
        }
    }
}
